<!doctype html>
<html lang="pt-br"
xmlns:th="https://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  
  <title>Loja Virtual</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container-fluid">
       <a class="navbar-brand" href="#">
           <img src="/img/logo.png" alt="Logo" width="50" height="44" class="d-inline-block align-text-center">
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Link</a>
           </li>
         </ul>
         <form class="d-flex" role="search">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-success" type="submit">Search</button>
         </form>
       </div>
     </div>
   </nav>
    
    <div class="container-fluid">
    
	     <table class="table" id="tabela">
	        <thead class="table-dark">
	           	<tr>
	           		<td scope="col">#</td>
		            <td scope="col">Nome</td>
		            <td scope="col">CPF</td>
		            <td scope="col">Telefone</td>
		            <td scope="col">Endereco</td>
		            <td scope="col">Numero</td>
		            <td scope="col">Bairro</td>
		            <td scope="col">E-mail</td>
		            <td scope="col">Funcao</td>
		            <td scope="col">Cidade</td>
		            <td scope="col">Ação</td>
	           	</tr>
	        </thead>
	
	        <tbody>
	            <tr th:each="funcionario: ${listarFuncionarios}">
	                <td th:text="${funcionario.id}"></td>
	                <td th:text="${funcionario.nome}"></td>
	                <td th:text="${funcionario.cpf}"></td>
	                <td th:text="${funcionario.telefone}"></td>
	                <td th:text="${funcionario.endereco}"></td>
	                <td th:text="${funcionario.numero}"></td>
	                <td th:text="${funcionario.bairro}"></td>
	                <td th:text="${funcionario.email}"></td>
	                <td th:text="${funcionario.funcao}"></td>
	                <td th:text="${funcionario.cidade.nome}"></td>
	                <td colspan="2">
	                    <a th:href="@{/editar-funcionario/{id}(id=${funcionario.id})}"><i class="fa-regular fa-pen-to-square" style="color: #000000; padding: 0 10px;"></i></a>
	                    <a th:href="@{/remover-funcionario/{id}(id=${funcionario.id})}"><i class="fa-solid fa-trash" style="color: #000000; padding: 0 10px;"></i></a>
	                </td>
	
	            </tr>
	        </tbody>
	     </table>
        <a href="/cadastro-funcionario" class="btn btn-primary"><i class="fa-solid fa-plus" style="color: #ffffff;"></i> Cadastrar</a>
        <a href="/administrativo" class="btn btn-danger"><i class="fa-solid fa-share" style="color: #ffffff;"></i> Voltar</a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function () {
		    getDatatable('#tabela');
		})
		
		function getDatatable(id) {
		    $(id).DataTable({
		        "ordering": true,
		        "paging": true,
		        "searching": true,
		        "oLanguage": {
		            "sEmptyTable": "Nenhum registro encontrado na tabela",
		            "sInfo": "Mostrar _START_ at&eacute; _END_ de _TOTAL_ registros",
		            "sInfoEmpty": "Mostrar 0 at&eacute; 0 de 0 Registros",
		            "sInfoFiltered": "(Filtrar de _MAX_ total registros)",
		            "sInfoPostFix": "",
		            "sInfoThousands": ".",
		            "sLengthMenu": "Mostrar _MENU_ registros por pagina",
		            "sLoadingRecords": "Carregando...",
		            "sProcessing": "Processando...",
		            "sZeroRecords": "Nenhum registro encontrado",
		            "sSearch": "Pesquisar",
		            "oPaginate": {
		                "sNext": "Proximo",
		                "sPrevious": "Anterior",
		                "sFirst": "Primeiro",
		                "sLast": "Ultimo"
		            },
		            "oAria": {
		                "sSortAscending": ": Ordenar colunas de forma ascendente",
		                "sSortDescending": ": Ordenar colunas de forma descendente"
		            }
		        }
		    });
		}
	</script>
  </body>
</html>