<head th:insert="~{layouts/header}">
<div th:insert="~{layouts/nav}"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="padding: 0;">
                <ul class="list-group" style="border-radius: 0;">
                    <li class="list-group-item navbar-dark bg-dark active" style="border: 0;"><i class="fa-solid fa-gears" style="color: #ffffff;"></i> Funcionalidades</li>
                    <a class="navbar-brand" href="/cadastro-venda"><li class="list-group-item">Efetuar Venda</li></a>
                    <a class="navbar-brand" href="/listar-venda"><li class="list-group-item">Listar Vendas</li></a>
                   	<a class="navbar-brand" href="/cadastro-entrada"><li class="list-group-item">Efetuar Entrada</li></a>
                   	<a class="navbar-brand" href="/listar-entrada"><li class="list-group-item">Listar Entradas</li></a>
                     
                     <li class="list-group-item navbar-dark bg-dark active" style="border: 0;"><i class="fa-solid fa-plus" style="color: #ffffff;"></i> Cadastros</li>
                     <a class="navbar-brand" href="/cadastro-estado"><li class="list-group-item">Cadastro Estado</li></a>
                     <a class="navbar-brand" href="/cadastro-cidade"><li class="list-group-item">Cadastro Cidade</li></a>
                     <a class="navbar-brand" href="/cadastro-funcionario"><li class="list-group-item">Cadastro Funcionário</li></a>
                     <a class="navbar-brand" href="/cadastro-cliente"><li class="list-group-item">Cadastro Cliente</li></a>
                     <a class="navbar-brand" href="/cadastro-fornecedor"><li class="list-group-item">Cadastro Fornecedor</li></a>
                     <a class="navbar-brand" href="/cadastro-produto"><li class="list-group-item">Cadastro Produto</li></a>
                   
                    <li class="list-group-item navbar-dark bg-dark active" style="border: 0;"><i class="fa-solid fa-list-check" style="color: #ffffff;"></i> Listas</li>
                    <a class="navbar-brand" href="/listar-estado"><li class="list-group-item">Listar Estado</li></a>
                    <a class="navbar-brand" href="/listar-cidade"><li class="list-group-item">Listar Cidade</li></a>
                    <a class="navbar-brand" href="/listar-funcionario"><li class="list-group-item">Listar Funcionário</li></a>
                    <a class="navbar-brand" href="/listar-cliente"><li class="list-group-item">Listar Cliente</li></a>
                    <a class="navbar-brand" href="/listar-fornecedor"><li class="list-group-item">Listar Fornecedor</li></a>
                    <a class="navbar-brand" href="/listar-produto"><li class="list-group-item">Listar Produto</li></a>
                </ul>
            </div>
            <div class="col-md-10">
                <h1>Bem vindo ao sistema de vendas</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita consequatur at minima nulla fugiat voluptatem sequi doloribus, deserunt quae dicta, eaque id ex quia quo. Nihil ad esse dolor cupiditate.</p>
            </div>
        </div>
    </div>
    
<div th:insert="~{layouts/footer}"></div>