<head th:insert="~{layouts/header}">
<div th:insert="~{layouts/nav}"></div>
    
    <div class="container col-md-3">
       <form action="/salvar-estado" th:object="${estado}" method="POST">
        <div class="mb-3">
       		  <div class="col-md-3">
	       		  <label for="id" class="form-label">Registro</label>
		          <input type="text" readonly="true" class="form-control" id="nome" th:field="*{id}">
       		  </div>
	          
	          <label for="nome" class="form-label">Estado:</label>
	          <input type="text" class="form-control" id="nome" th:field="*{nome}">
	
	          <label for="sigla" class="form-label">Sigla:</label>
	          <input type="text" class="form-control" id="sigla" th:field="*{sigla}">
        </div>
        <a href="#" class="navbar-brand">
          <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Salvar</button>
        </a>
         <a href="/administrativo" class="btn btn-danger"><i class="fa-solid fa-share" style="color: #ffffff;"></i> Voltar</a>
         <a href="/listar-estado" class="btn btn-success"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Listar</a>
      </form>
      
<div th:insert="~{layouts/footer}"></div>