<head th:insert="~{layouts/header}">
<div th:insert="~{layouts/nav}"></div>
    
    <div class="container col-md-3">
       <form action="/salvar-cliente" th:object="${cliente}" method="POST">
        <div class="mb-3">
       		  <div class="col-md-5">
       		  	<label for="id" class="form-label">Registro</label>
	          	<input type="text" readonly="true" class="form-control" th:field="*{id}">
       		  </div>
	          
	          <label for="nome" class="form-label">Nome Cliente:</label>
	          <input type="text" required class="form-control" th:field="*{name}">
	          
	          <div class="row">
		        <div class="col">
	        		 <label for="nome" class="form-label">CPF:</label>
	         		 <input type="text" required class="form-control" id="cpf" th:field="*{cpf}">
		        </div>
		        
		        <div class="col">
			        <label for="nome" class="form-label">Telefone:</label>
		            <input type="text" required class="form-control" id="telefone" th:field="*{telefone}">
		        </div>
		      </div>
		      
		      <div class="row">
		        <div class="col">
	        		 <label for="nome" class="form-label">Endereço:</label>
	          		 <input type="text" required class="form-control" th:field="*{endereco}">
		        </div>
		        
		        <div class="col-2">
			        <label for="nome" class="form-label">Número:</label>
	          		<input type="text" required class="form-control" th:field="*{numero}">
		        </div>
		      </div>
	          
	          <label for="nome" class="form-label">Bairro:</label>
	          <input type="text" required class="form-control" th:field="*{bairro}">
	          
	          <label for="nome" class="form-label">E-mail:</label>
	          <input type="text" required class="form-control" th:field="*{email}">
	          
	          <label for="nome" class="form-label">Responsabilidade:</label>
	          <input type="text" required class="form-control" th:field="*{responsabilidade}">
	          
	          <label for="cidade" class="form-label">Cidade:</label>
			  <select th:field="*{cidade}" class="form-select">
			     <option th:each="cidade : ${listaCidades}" th:value="${cidade.id}" th:text="${cidade.nome}"></option>
			  </select>

	          
        </div>
        <a href="#" class="navbar-brand">
          <button type="submit" class="btn btn-primary"><i class="fa-regular fa-floppy-disk" style="color: #ffffff;"></i> Salvar</button>
        </a>
         <a href="/administrativo" class="btn btn-danger"><i class="fa-solid fa-share" style="color: #ffffff;"></i> Voltar</a>
         <a href="/listar-cliente" class="btn btn-success"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Listar</a>
      </form>
    </div>

<div th:insert="~{layouts/footer}"></div>

