<head th:insert="~{layouts/header}">
<div th:insert="~{layouts/nav}"></div>

    <div class="container-fluid">
    
	     <table class="table" id="tabela">
	        <thead class="table-dark">
	           	<tr>
	           		<td scope="col">#</td>
		            <td scope="col">Nome</td>
		            <td scope="col">CPF</td>
		            <td scope="col">Telefone</td>
		            <td scope="col">Endereco</td>
		            <td scope="col">Numero</td>
		            <td scope="col">Bairro</td>
		            <td scope="col">E-mail</td>
		            <td scope="col">Responsabilidade</td>
		            <td scope="col">Cidade</td>
		            <td scope="col">Ação</td>
	           	</tr>
	        </thead>
	
	        <tbody>
	            <tr th:each="cliente: ${listarClientes}">
	                <td th:text="${cliente.id}"></td>
	                <td th:text="${cliente.name}"></td>
	                <td th:text="${cliente.cpf}"></td>
	                <td th:text="${cliente.telefone}"></td>
	                <td th:text="${cliente.endereco}"></td>
	                <td th:text="${cliente.numero}"></td>
	                <td th:text="${cliente.bairro}"></td>
	                <td th:text="${cliente.email}"></td>
	                <td th:text="${cliente.responsabilidade}"></td>
	                <td th:text="${cliente.cidade.nome}"></td>
	                <td colspan="2">
	                    <a th:href="@{/editar-cliente/{id}(id=${cliente.id})}"><i class="fa-regular fa-pen-to-square" style="color: #000000; padding: 0 10px;"></i></a>
	                    <a th:href="@{/remover-cliente/{id}(id=${cliente.id})}"><i class="fa-solid fa-trash" style="color: #000000; padding: 0 10px;"></i></a>
	                </td>
	
	            </tr>
	        </tbody>
	     </table>
        <a href="/cadastro-cliente" class="btn btn-primary"><i class="fa-solid fa-plus" style="color: #ffffff;"></i> Cadastrar</a>
        <a href="/administrativo" class="btn btn-danger"><i class="fa-solid fa-share" style="color: #ffffff;"></i> Voltar</a>
    </div>
    
<div th:insert="~{layouts/footer}"></div>